.LoginBox {
  width: 360px;
}

.WalletList {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    cursor: pointer;

    &:not(:nth-last-child(1)) {
      margin-bottom: 0px;
    }

    &:hover {
      background-color: aliceblue;
      border-radius: 6px;
    }

    .left {
      font-weight: bold;

      svg {
        margin-right: 16px;
        width: 40px;
        height: 40px;
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      align-items: center;

      .loading {
        margin-left: 20px;
      }

      .tag {
        background-color: red;
        border-radius: 4px;
        padding: 2px 8px;
        color: #fff;
        font-size: 12px;
      }
    }
  }
}

.SignBox {
  padding: 20px;

  .header {
    margin-bottom: 12px;
  }

  .desc {
    margin: 12px 0px;
    font-size: 15px;
    font-weight: bold;
  }

  .account {
    margin: 12px 0px;
    background-color: #f6f6f6;
    padding: 10px 22px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
  }

  .but {
    margin: 12px 0px;
  }

  .hint {
    margin: 12px 0px;
    font-size: 15px;
    color: #999;
  }
}
